.product-form {
    height: 850px;
    margin: 40px auto;
    max-width: 1600px;
    width: 100%;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.name {
    margin: 0 auto 20px auto;
    width: 40%;

    label {
        font-weight: 600;
        margin-bottom: 6px;
        display: block;
        padding-left: 6px;
    }
}

.responsive-grid-layout {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;

    @media (min-width: 1210px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-box {
        min-width: 400px;

        h4 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 8px;
            padding-left: 6px;
        }

        ::ng-deep .dx-datagrid {
            height: 375px;
            border-radius: 4px;
            border: 1px solid #c0c0c0;
            font-size: 13px;
        }
    }

    .summary {
        font-size: 14px;

        table {
            width: 100%;
            border-collapse: collapse;

            th, td {
                padding: 10px 16px;
                border-bottom: 1px solid #e0e0e0;
                text-align: center;
            }

            tr:last-child td {
                border-bottom: none;
            }

            th {
                background-color: #f9f9f9;
                font-weight: 600;
            }
        }
    }
}

.cost-summary, .profit-margin {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    margin-top: 49px;
    overflow: hidden;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th, td {
            padding: 10px 16px;
            border-bottom: 1px solid #e0e0e0;
            text-align: center;
        }

        tr:last-child td {
            border-bottom: none;
        }

        th {
            background-color: #f9f9f9;
            font-weight: 600;
        }
    }
}
.profit-margin {
    margin-top: 10px;
}

.number-box {
    ::ng-deep .dx-texteditor-input {
        padding: 10px 12px;
        font-size: 14px;
        background: transparent;
        border: none;
        box-shadow: none;
        height: auto;
        color: inherit;
        text-align: center;
    }

    ::ng-deep .dx-texteditor-container {
        border: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
        height: auto;
    }

    ::ng-deep .dx-numberbox-spin-button {
        display: none;
    }
}

.save-button {
    text-align: center;
    margin-top: 75px;

    ::ng-deep .dx-button {
        min-width: 100px;
        background-color: #4caf50;
        color: white;
    }
}
