<form class="product-form" #form="ngForm" (ngSubmit)="saveProduct()">
    <div>
        <!--Header-->
        <div class="name">
            <label for="productNameId">Product Name</label>
            <dx-text-box id="productNameId" name="productName" [width]="'100%'" [(value)]="product.name"
                placeholder="Enter product name">
                <dxi-validation-rule type="required" message="Product name is required"></dxi-validation-rule>
            </dx-text-box>
        </div>


        <!--Grid area-->
        <div class="grid-section">
            <!--Ingredient Grid-->
            <div class="grid-half">
                <h4>Ingredients</h4>
                <dx-data-grid [dataSource]="ingredients" [showBorders]="true" [columnAutoWidth]="false"
                    [allowColumnResizing]="false" [rowAlternationEnabled]="true" [paging]="{ enabled: false }"
                    [editing]="{ mode: 'row', allowUpdating: true, allowDeleting: true, allowAdding: true }"
                    (onFocusedCellChanged)="onFocusedCellChanged($event)" (onRowInserted)="onIngredientIserted($event)"
                    (onRowUpdated)="onIngredientIserted($event)" (onRowRemoved)="onIngredientRemoved()">
                    <dxi-column dataField="ingredientId" caption="Ingredient Name">
                        <dxo-lookup [dataSource]="allIngredients" valueExpr="ingredientId"
                            displayExpr="name"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="quantity" caption="Qty" dataType="number"></dxi-column>
                    <dxi-column dataField="unit" caption="Unit" [calculateDisplayValue]="getUnitDisplay">
                        <dxo-lookup [dataSource]="units" displayExpr="" valueExpr=""></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="totalCostPerItem" caption="Total" [format]="{type: 'currency', precision: 2}"
                        [allowEditing]="false"></dxi-column>

                    <dxi-column type="buttons" width="110">
                        <dxi-button name="edit" icon="edit" hint="Edit"></dxi-button>
                        <dxi-button name="delete" icon="trash" hint="Delete"></dxi-button>
                    </dxi-column>
                </dx-data-grid>
            </div>



            <!--Labor Grid-->
            <div class="grid-half">
                <h4>Labor</h4>
                <dx-data-grid [dataSource]="labors" [showBorders]="true" [rowAlternationEnabled]="true"
                    [paging]="{ enabled: false }"
                    [editing]="{ mode: 'row', allowUpdating: true, allowDeleting: true, allowAdding: true }"
                    (onRowInserted)="onLaborInserted($event)" (onRowUpdated)="onLaborInserted($event)"
                    (onRowRemoved)="onLaborRemoved()">
                    <dxi-column dataField="laborName" caption="Process Name">
                        <dxi-validation-rule type="required" message="Process name is required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="duration" caption="Time"
                        [editorOptions]="durationEditorOptions"></dxi-column>
                    <dxi-column dataField="workers" caption="# of workers" dataType="number"></dxi-column>
                    <dxi-column dataField="yields" caption="Yields" dataType="number"></dxi-column>
                    <dxi-column dataField="totalLaborPerItem" caption="Time per item"
                        [calculateCellValue]="formatLaborTime" [allowEditing]="false"></dxi-column>

                    <dxi-column type="buttons" width="110">
                        <dxi-button name="edit" icon="edit" hint="Edit"></dxi-button>
                        <dxi-button name="delete" icon="trash" hint="Delete"></dxi-button>
                    </dxi-column>
                </dx-data-grid>
            </div>
        </div>

        <!--Summary panel-->
        <div class="summary-panel">
            <table>
                <tr>
                    <td>Yields by weight oz:</td>
                    <td><input type="number" [(ngModel)]="product.oz" name="oz" min="0" /></td>
                    <td>Ingredient Cost:</td>
                    <td>{{product.ingredientCost | currency}}</td>

                </tr>
                <tr>
                    <td>Yields by container:</td>
                    <td><input type="number" [(ngModel)]="product.container" name="container" min="0" />
                    </td>
                    <td>Labor Cost:</td>
                    <td>{{product.laborCost | currency}}</td>
                </tr>
                <tr>
                    <td>Yields by pieces:</td>
                    <td><input type="number" [(ngModel)]="product.pieces" name="pieces" min="0" /></td>
                    <td><strong>Total Product Cost:</strong></td>
                    <td><strong>{{product.costPrice | currency}}</strong></td>
                </tr>
            </table>
        </div>

        <!--Save-button-->
        <div class="save-button">
            <dx-button text="Save" type="success" [useSubmitBehavior]="true"
                [disabled]="!product.name?.trim()"></dx-button>
        </div>
    </div>
</form>