<div>
    @if (loading()) {
    <div class="loading-indicator">
        <dx-load-indicator [height]="60" [width]="60"></dx-load-indicator>
        <div>Loading items...</div>
    </div>
    } @else {

    <div id="item-data-grid">
        <dx-data-grid [dataSource]="items" [showBorders]="true" [columnAutoWidth]="true" [allowColumnResizing]="true"
            [rowAlternationEnabled]="true" [paging]="{enabled: false}" loadingIndicator="{show: true}"
            [searchPanel]="{visible: true, highlightSearchText: true, width: 400, placeholder: 'Search items...'}"
            class="grid-bordered">
            <dxo-toolbar>
                <dxi-item>
                    <dx-button icon="add" stylingMode="text" (click)="openForm()"></dx-button>
                </dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
            <dxi-column dataField="itemName" caption="Name"></dxi-column>
            <dxi-column dataField="costPrice" caption="Cost Price"
                [format]="{type: 'currency', precision: 2}"></dxi-column>
            <dxi-column dataField="ownPrice" caption="Own Price"
                [format]="{type: 'currency', precision: 2}"></dxi-column>
            <dxi-column dataField="wholesalePrice" caption="Wholesale Price"
                [format]="{type: 'currency', precision: 2}"></dxi-column>
            <dxi-column dataField="retailPrice" caption="Retail Price"
                [format]="{type: 'currency', precision: 2}"></dxi-column>

            <dxi-column width="110" cellTemplate="buttonsTemplate"></dxi-column>

            <div *dxTemplate="let data of 'buttonsTemplate'">
                <dx-button icon="edit" stylingMode="text" (click)="openForm(data.data.itemId)"></dx-button>
                <dx-button icon="trash" stylingMode="text" (click)="deleteItem(data.data.itemId)"></dx-button>
            </div>
        </dx-data-grid>
    </div>
    }
</div>

<dx-popup [visible]="popupVisible" [showTitle]="true" [dragEnabled]="false" title="Edit Item" [showCloseButton]="true"
    [dragEnabled]="false" [minWidth]="500" [maxWidth]="1650" [maxHeight]="1650" [minHeight]="300"
    (onHiding)="popupVisible = false">
    <ng-container>
        @if(popupVisible){
        <app-item-form [itemId]="selectedItemId" (formSaved)="onFormSaved($event)"></app-item-form>
        }
    </ng-container>
</dx-popup>