::ng-deep #item-data-grid .dx-datagrid-rowsview .dx-row > td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 300px;
    font-size: 16px;
    gap: 10px;
}