/* You can add global styles to this file, and also import other style files */
.dx-datagrid-headers {
    background-color: #f0f0f0;
    color: #080808;
    font-weight: bold;
    font-size: 14PX;
    text-transform: capitalize;
}

.dx-header-row > td {
    border-bottom: 2px solid #ccc;
    padding: 10px;
}



.tabs .dx-tabs-wrapper {
    background-color: #ffffff;
}

.tabs .dx-tab {
    color: rgb(14, 13, 13);
}

.tabs .dx-tab.dx-tab-selected {
    background-color: #ffffff;
    font-weight: bold;
}

